APS 5 - CIÃŠNCIA DE DADOS

Henrique Scofield Sotto Mayor e Henrique Turco Gera

In [28]:
import pandas as pd
import scipy.stats as st

In [29]:
df = pd.read_csv('dados/brasileirao-2004-2022.csv')

In [30]:
df.head()

,season,place,team,points,played,won,draw,loss,goals_for,goals_against,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,SaoPaulo,78,46,22,12,12,81,67,14
3,2003,4,SaoCaetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9

In [31]:
df.columns

Index(['season', 'place', 'team', 'points', 'played', 'won', 'draw', 'loss',
       'goals_for', 'goals_against', 'goals_diff'],
      dtype='object')

In [32]:
df_ = df[df['team'] == ' Cruzeiro']

In [33]:
media = df_['points'].mean()

In [36]:
alfa = 0.05
desvio_padrao = df_['points'].std()

In [46]:
p1 = 1 - st.norm.ppf(0.025, loc = media, scale = desvio_padrao / ((len(df_) ** 0.5)))
p2 = st.norm.ppf(0.025, loc = media, scale = desvio_padrao / ((len(df_) ** 0.5)))
print(p1 , p2)

-52.5153741854943 53.5153741854943