APS 5 - CIÃŠNCIA DE DADOS

Henrique Scofield Sotto Mayor e Henrique Turco Gera

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
df = pd.read_csv('dados/brasileirao-2004-2022.csv')

In [3]:
df.head()

,season,place,team,points,played,won,draw,loss,goals_for,goals_against,goals_diff
0,2003,1,Cruzeiro,100,46,31,7,8,102,47,55
1,2003,2,Santos,87,46,25,12,9,93,60,33
2,2003,3,SaoPaulo,78,46,22,12,12,81,67,14
3,2003,4,SaoCaetano,74,46,19,14,13,53,37,16
4,2003,5,Coritiba,73,46,21,10,15,67,58,9